html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.form-check .form-check-label {
  cursor: pointer;
}

.media-query-indicator .deck {
  display: none;
  font-size: 50px;
  color: gray;
}

/* Media queries */
/* Small devices (portrait phones, 576px less) */
@media (max-width: 575px) {
  .media-query-indicator .deck.xsmall-screen {
    display: block;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .media-query-indicator .deck.small-screen {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .media-query-indicator .deck.medium-screen {
    display: block;
  }
}

/* Medium devices (desktop, 992px and up) */
@media (min-width: 992px) {
  .media-query-indicator .deck.large-screen {
    display: block;
  }
}

#myElement {
  background: silver;
  height: 300px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}

.gmap_canvas {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  background-color: gray;
}
.gmap_canvas iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  padding: 30px;
}
header p {
  margin-bottom: 0;
}

section {
  height: 450px;
}

.step-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  overflow: hidden;
}

.step {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: none;
}
.step.active {
  display: block;
}

#hammerNav {
  background-color: #0d6efd;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hammerNav p,
.alert p {
  margin-bottom: 0;
  font-size: 16px;
}